<!DOCTYPE html>
<link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>MY IDEA BOX - All Collection Box</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div class="items-wrap">
                <div class="items">
                        <button class="add-button" id="open-add">+</button>
                        <div id="mask-add" class="hidden"></div>

                        <!-- Add Modal Start -->
                        <section id="modal-add" class="hidden">
                            <button id="close-add">×</button>
                            <div class="newItem">
                                <form th:action="@{/myideabox/add}" enctype="multipart/form-data" th:object="${form}" th:method="post">
                                    <div class="form-group">
                                        <label>画像</label>
                                        <input type="file" name="fileName" />
                                    </div>
                                    <div class="form-group">
                                        <label>タイトル</label>
                                        <input type="text" name="title" />
                                    </div>
                                    <div class="form-group">
                                        <label>テキスト</label>
                                        <textarea name="text" rows="4" cols="40" placeholder="画像の説明を入力してください。"></textarea>
                                    </div>
                                    <button class="submit-add-button" type="submit">追加</button>
                                </form>
                            </div>
                        </section>
                        <!-- --- -->

                        <div class="item" th:each="col: ${list}" th:object="${col}">
                            <div class="contents-wrap">
                                <div class="contents">
                                <div class="img">
                                    <img th:src="'/img/' + *{file.fileName}" />
                                </div>
                                <b><span th:text="*{title}"></span></b></br>
                                <span style="font-size: 12px;" th:text="*{text}"></span>
                            </div>
                                <div class="item-menu">
                                    <form>
                                        <button th:id="'show-open' + *{id}" onclick="open">more</button>
                                    </form>
                                    <form th:action="@{/myideabox/delete/{id}(id=*{id})}">
                                        <button type="submit" onclick="return check()">削除</button>
                                        <script>
                                            function check() {
                                                return confirm('本当に削除しますか？');
                                            }
                                        </script>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Show Modal Start -->
                        <div id="show-mask" class="hidden"></div>
                        <section id='show-modal' class="hidden">
                            <button id="show-close">×</button>
                            <span th:text="*{title}"></span>
                        </section> 
                        <!-- --- -->
                    </div>
                </div>
        </main>
        <script src="/js/modal.js"></script>
        </html>
    </body>